
{% extends  "master.page.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Employee</div>

                <div class="panel-body">
                    {% for employee in employees %}
                        <h1>   {{  employee.'id'}} </h1>
                    {% endfor %}
 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
